* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
  font-family: "Noto Sans", sans-serif;
}

/* Estilos de la nav*/
.fa-brands {
  font-size: 3rem;
  color: bisque;
}
.fa-brands:hover {
  color: red;
}

.color_navbar {
  background-color: rgb(2, 2, 51);
}

.color_item {
  color: bisque;
}

.nav-link:hover {
  color: red;
}

.logo_foot img {
  width: 30px;
  height: 30px;
}
.navbar-toggler {
  background-color: bisque;
}
.navbar-collapse {
  flex-grow: 0;
}
/*Estilos Index*/
.row img {
  max-width: 85%;
  max-height: 85%;
}

/*Estilos del footer*/
.foot {
  grid-area: footer;
  background-color: rgb(2, 2, 51);
}
.foot img {
  height: 2rem;
  width: 2rem;
  transition: all 2s;
}

.foot p {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .foot {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(
      to top,
      white,
      rgb(2, 2, 51) 50%,
      rgb(2, 2, 51)
    );
  }

  .foot p {
    display: inline-block;
    font-size: 1.2rem;
    color: bisque;
  }

  .foot img:hover {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .foot p {
    font-size: 2rem;
  }

  .foot img {
    margin: 0 1rem;
    padding: 0;
    width: 3rem;
    height: 3rem;
  }
}

/*Estilos de aboutus*/

/*Estilos de faq*/
/*
.header-faq {
  grid-area: header;
}
.main__faq {
  grid-area: main;
  font-family: "Noto Sans", sans-serif;
  margin: 0.5rem;
  padding: 0.5rem;
}
.tittle__faq {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
}

.main__faq h3 {
  padding: 0.5rem;
  font-size: 1rem;
}

.main__faq p {
  padding: 0.5rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .tittle__faq {
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 3rem;
    animation-name: titulo_animado;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
  }
  .main__faq {
    margin: 0.8rem;
    padding: 0.8rem;
  }
  .main__faq h3 {
    padding: 0.8rem;
    font-size: 1.2rem;
  }
  .main__faq p {
    padding: 0.8rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .tittle__faq {
    padding: 1rem;
    margin: 1rem;
    font-size: 4rem;
  }
  .main__faq {
    margin: 1rem;
    padding: 1rem;
  }
  .main__faq h3 {
    padding: 1rem;
    font-size: 1.6rem;
  }
  .main__faq p {
    padding: 1rem;
    font-size: 1.3rem;
  }
}
*/
/*Estilos de products*/
.header-products {
  grid-area: header;
}

.main__products {
  grid-area: main;
}

.texto__productos {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
}

.main__products h1 {
  text-align: center;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.card__container {
  background-color: white;
}

.tarjeta {
  height: 12.5rem;
  width: 12.5rem;
  background-color: rgb(2, 2, 51);
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tarjeta h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: white;
}

.tarjeta img {
  width: 7rem;
  height: 7rem;
  padding: 0.5rem;
}

.tarjeta__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  height: 20%;
  color: white;
  justify-content: center;
  font-size: 0.8rem;
}

.tarjeta__info__precio {
  font-size: 0.8rem;
  margin: 0.3rem;
  padding: 0.3rem;
}

.tarjeta__info__boton {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  font-family: "Noto Sans", sans-serif;
}

@media screen and (min-width: 768px) {
  .texto__productos {
    font-size: 3rem;
  }
  .main__products h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    animation-name: titulo_animado;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
  }
  .card__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .tarjeta {
    height: 19rem;
    width: 19rem;
    margin: 1.5rem 1rem 1.5rem 1rem;
    padding: 1rem;
    transition: all 2s;
    object-fit: cover;
    background-image: radial-gradient(white, rgb(2, 2, 51) 90%, rgb(2, 2, 51));
  }
  .tarjeta:hover {
    transform: scale(1.1);
  }
  .tarjeta h3 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    color: white;
  }
  .tarjeta img {
    width: 12rem;
    height: 12rem;
    padding: 0.9rem;
  }
  .tarjeta__info {
    font-size: 1.2rem;
  }
  .tarjeta__info__precio {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .tarjeta__info__boton {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    transition: all 1s;
  }
  .tarjeta__info__boton:hover {
    font-weight: bold;
    background-color: tomato;
    border-radius: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .texto__productos {
    font-size: 4rem;
  }
  .main__products h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .tarjeta {
    height: 33rem;
    width: 33rem;
    margin: 2rem 1rem 2rem 1rem;
    padding: 2rem;
  }

  .tarjeta h3 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5rem;
    color: white;
  }
  .tarjeta img {
    width: 28.125rem;
    height: 25rem;
    padding: 0.5rem;
  }
  .tarjeta__info {
    font-size: 1.3rem;
  }
  .tarjeta__info__precio {
    font-size: 1.3rem;
  }
  .tarjeta__info__boton {
    font-size: 1.3rem;
  }
}
/*Estilos de signin*/
.cont_form {
  border-style: groove;
  border-color: black;
  background-color: rgb(2, 2, 51);
}

.cont_form label {
  color: bisque;
}

/*Estilos de contactus*/
/*Usa los mismos que signin*/
