* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
  font-family: "Noto Sans", sans-serif;
}

/* Estilos de la nav*/
.fa-brands {
  font-size: 3rem;
  color: bisque;
}
.fa-brands:hover {
  color: red;
}

.color_navbar {
  background-color: rgb(2, 2, 51);
}

.color_item {
  color: bisque;
}

.nav-link:hover {
  color: red;
}

.logo_foot img {
  width: 30px;
  height: 30px;
}
.navbar-toggler {
  background-color: bisque;
}
.navbar-collapse {
  flex-grow: 0;
}
/*Estilos Index*/
.row img {
  max-width: 85%;
  max-height: 85%;
}

/*Estilos del footer*/
.foot {
  grid-area: footer;
  background-color: rgb(2, 2, 51);
}
.foot img {
  height: 2rem;
  width: 2rem;
  transition: all 2s;
}

.foot p {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .foot {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(
      to top,
      white,
      rgb(2, 2, 51) 50%,
      rgb(2, 2, 51)
    );
  }

  .foot p {
    display: inline-block;
    font-size: 1.2rem;
    color: bisque;
  }

  .foot img:hover {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .foot p {
    font-size: 2rem;
  }

  .foot img {
    margin: 0 1rem;
    padding: 0;
    width: 3rem;
    height: 3rem;
  }
}

/**/
.cont_foot {
  background-color: rgb(2, 2, 51);
}
/*Estilos de aboutus*/

/*Estilos de faq*/

/*Estilos de products*/
.card {
  align-items: center;
  background-color: rgb(2, 2, 51);
  max-height: 500px;
}
.card img {
  max-width: 300px;
  max-height: 300px;
}

.card-title {
  color: bisque;
}

.card-text {
  color: bisque;
}

.btn-primary {
  color: bisque;
}

.btn-primary:hover {
  background-color: tomato;
}

.container-fluid h1 {
  font-size: 4rem;
}

/*Estilos de contactus*/
/*Usa los mismos que signin*/
