* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
  font-family: "Noto Sans", sans-serif;
}

/* Estilos de la nav*/
.fa-brands {
  font-size: 3rem;
  color: bisque;
}
.fa-brands:hover {
  color: red;
}

.color_navbar {
  background-color: rgb(2, 2, 51);
}

.color_item {
  color: bisque;
}

.nav-link:hover {
  color: red;
}

.logo_foot img {
  width: 30px;
  height: 30px;
}
.navbar-toggler {
  background-color: bisque;
}
.navbar-collapse {
  flex-grow: 0;
}
/*Estilos Index*/
.row img {
  max-width: 85%;
  max-height: 85%;
}

/*Estilos del footer*/

/**/
.cont_foot {
  background-color: rgb(2, 2, 51);
}
/*Estilos de aboutus*/

/*Estilos de faq*/

/*Estilos de products*/
.card {
  align-items: center;
  background-color: rgb(2, 2, 51);
  max-height: 500px;
}
.card img {
  max-width: 300px;
  max-height: 300px;
}

.card-title {
  color: bisque;
}

.card-text {
  color: bisque;
}

.btn-primary {
  color: bisque;
}

.btn-primary:hover {
  background-color: tomato;
}

.container-fluid h1 {
  font-size: 4rem;
}

/*Estilos de contactus y signin*/
.cont_form {
  border-style: groove;
  border-color: black;
  background-color: rgb(2, 2, 51);
}

.cont_form label {
  color: bisque;
}

/*Usa los mismos que signin*/
