.grid-container {
  text-align: center;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;

  .header-about {
    grid-area: header;
  }

  .main__about {
    grid-area: main;
    font-family: "Noto Sans", sans-serif;
    text-align: justify;
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;

    .titulo__about {
      font-family: "Noto Sans", sans-serif;
      text-align: center;
      margin: 0.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }

    img {
      margin: 0.5rem;
      padding: 0.5rem;
      width: 90%;
      height: 100%;
    }

    .div__img {
      text-align: center;
    }

    p {
      margin: 0.5rem;
      font-size: 0.8rem;
    }
  }

  @media screen and (min-width: 768px) {
    .main__about {
      font-size: 1rem;
      margin: 0.8rem;
      padding: 0.8rem;

      .titulo__about {
        margin: 0.8rem;
        padding: 0.8rem;
        font-size: 4rem;
        animation-name: titulo_animado;
        animation-duration: 3s;
        animation-delay: 2s;
        animation-iteration-count: 1;
      }

      p {
        margin: 0.8rem;
        font-size: 1rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main__about {
    font-size: 1.3rem;
    margin: 1rem;
    padding: 1rem;

    .titulo__about {
      margin: 1rem;
      padding: 1rem;
      font-size: 5rem;
    }

    img {
      margin: 1rem;
    }

    p {
      margin: 1rem;
      font-size: 1.3rem;
    }
  }
}
