.grid-container {
  text-align: center;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;

  .header-about {
    grid-area: header;
  }

  .main__about {
    grid-area: main;
    font-family: "Noto Sans", sans-serif;
    text-align: justify;
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;

    .titulo__about {
      @include titles(0.5rem, 0.5rem, 2rem, center, bold);
    }

    h2 {
      @include titles(0.5rem, 0.5rem, 1rem, center, bold);
      color: $color-secundario;
    }

    img {
      @include images(0.5rem, 0.5rem, 90%, 100%);
    }

    .div__img {
      text-align: center;
    }

    p {
      @include parraf(0.8rem, 0.5rem, 0rem);
      color: $color-secundario;
    }

    .card-img-top {
      max-width: 80px;
      max-height: 80px;
    }

    .card-body {
      li {
        color: $color-secundario;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .main__about {
      font-size: 1rem;
      margin: 0.8rem;
      padding: 0.8rem;

      .titulo__about {
        @include titles(0.8rem, 0.8rem, 3rem, center, bold);
      }

      h2 {
        @include titles(0.8rem, 0.8rem, 2rem, center, bold);
        color: $color-secundario;
      }

      p {
        @include parraf(1rem, 0.8rem, 0rem);
        color: $color-secundario;
      }

      .card-img-top {
        max-width: 150px;
        max-height: 150px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .main__about {
      font-size: 1.3rem;
      margin: 1rem;
      padding: 1rem;

      .titulo__about {
        @include titles(1rem, 1rem, 4rem, center, bold);
      }

      img {
        @include images(1rem, 0.5rem, 90%, 100%);
      }

      h2 {
        @include titles(0.8rem, 0.8rem, 2.5rem, center, bold);
        color: $color-secundario;
      }

      p {
        @include parraf(1.3rem, 1rem, 0rem);
        color: $color-secundario;
      }
    }
  }
}
