.grid-container {
  text-align: center;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;

  .header-products {
    grid-area: header;
  }

  .main__products {
    grid-area: main;

    h1 {
      @include titles(0.7rem, 0rem, 2rem, center, bold);
    }

    .container-fluid {
      h1 {
        font-size: 4rem;
      }

      .texto__productos {
        @include titles(0.7rem, 0rem, 2rem, center, bold);
      }
    }
  }

  .card {
    align-items: center;
    background-color: map-get($colors, color-principal);
    max-height: 500px;

    img {
      max-width: 300px;
      max-height: 300px;
    }

    .card-body {
      .card-title {
        color: map-get($colors, color-secundario);
      }

      .card-text {
        color: map-get($colors, color-secundario);
      }
    }

    .btn-primary {
      color: map-get($colors, color-secundario);

      &:hover {
        background-color: map-get($colors, color-botones);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "header header"
      "navbar navbar"
      "main main"
      "footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto auto;
    height: 100vh;

    .main__products {
      .container-fluid {
        .texto__productos {
          @include titles(1rem, 0rem, 3rem, center, bold);
        }
      }

      h1 {
        @include titles(1rem, 0rem, 3rem, center, bold);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    .main__products {
      .container-fluid {
        .texto__productos {
          @include titles(2rem, 0rem, 4rem, center, bold);
        }
      }

      h1 {
        @include titles(2rem, 0rem, 4rem, center, bold);
      }
    }
  }
}
