* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
  font-family: "Noto Sans", sans-serif;
}

.text-princ {
  background-color: $color-secundario;
  margin: 0;
  padding: 0;
}
