.navbar {
  .container-fluid {
    .fa-brands {
      font-size: 3rem;
      color: bisque;
      transition: 0.5s;

      &:hover {
        color: red;
      }
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .nav-link {
    &:hover {
      color: red;
      text-decoration: underline red;
    }
  }

  .navbar-toggler {
    background-color: bisque;
  }
}

.color_navbar {
  background-color: rgb(2, 2, 51);
}

.color_item {
  color: bisque;
}
