.navbar {
  .container-fluid {
    .fa-brands {
      font-size: 3rem;
      color: map-get($colors, color-secundario);
      transition: 0.5s;

      &:hover {
        color: map-get($colors, color-resalta);
      }
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .nav-link {
    &:hover {
      color: map-get($colors, color-resalta);
      text-decoration: underline map-get($colors, color-resalta);
    }
  }

  .navbar-toggler {
    background-color: map-get($colors, color-secundario);
  }
}

.color_navbar {
  background-color: map-get($colors, color-principal);
}

.color_item {
  color: map-get($colors, color-secundario);
}
