@mixin titles($margin, $padding, $font-size, $text-align, $font-weight) {
  font-family: "Noto Sans", sans-serif;
  margin: $margin;
  padding: $padding;
  font-size: $font-size;
  text-align: $text-align;
  font-weight: $font-weight;
}

@mixin parraf($font-size, $margin, $padding) {
  font-size: $font-size;
  font-family: "Noto Sans", sans-serif;
  margin: $margin;
  padding: $padding;
}

@mixin images($margin, $padding, $width, $height) {
  margin: $margin;
  padding: $padding;
  width: $width;
  height: $height;
}
