//VARIABLES

//COLORES
$color-principal: rgb(2, 2, 51);
$color-secundario: bisque;
$color-resalta: red;
$color-botones: tomato;
$auxiliar: white;
$auxiliar2: black;

//MAPA DE COLORES
$colors: (
  "color-principal": #020233,
  "color-secundario": #ffe4c4,
  "color-resalta": #ff0000,
  "color-botones": #ff6347,
  "auxiliar": #ffffff,
  "auxiliar2": #000000,
);
